*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.cabecalho{
    display: flex;
    color:red;
    justify-content: space-between;
   
}
.posi0{
     display: flex;
     flex-direction: row;
    
}

.posi0 > h2{
    padding-top: 10px;
}
 
.posi1{
    display: inline-block;
}

.flex{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    padding: 9px;
}

.posi1 > .flex > nav> a:hover{
    border: 2px solid red;
}

.cabecalho > img{
    border-radius: 50%;
    margin-right: 30px;
}



.cabecalho > .posi1 > .flex >  nav > a{
    padding: 20px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.restaurante{
    margin-top: 20px;
}

.imagem{
    text-align: center;
    visibility: hidden;

}
.imagem > img{
    width: 80vw;
    height: 500px;
    padding-top: 10px;
    

}




.texto {
    text-align: center;
    padding: 30px;
    color:red
}

.texto > h1{
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 10px;
}



.texto > p >a{
    text-decoration: none;
    background-color: black;
    color:rgb(218, 147, 15);
    text-decoration: underline;
}

.texto >p >a:hover{
    text-decoration: none;
    background-color: red;
    color: black;
    border-radius: 8px;
}

.area3 .texto > p{
    color: red;

}

.imagem2{
    text-align: center;

}

.rodape{
     display: flex;
     color:red;
     flex-direction: row;
     background-color: rgb(36, 36, 36);
     justify-content: center;
     height: 200px;

   
}
 



.rodape > .col1{
    margin-top:50px ;
    padding:0px 50px 0px 10px;

}

.rodape > .col1 > h2{
    font-size: 30px;
    text-transform: uppercase;
}

.rodape > .col2{
    margin-top:50px ;
    padding:0px 30px 0px 10px;
}

.rodape > .col2 > a > img{
   padding: 0px 0px 10px 0px;
}


.rodape > .col3{
    margin-top:50px ;
    padding:0px 30px 0px 10px;
}